
.icon-search:before { content: '\e800'; } /* '' */
.icon-help-circled:before { content: '\e801'; } /* '' */
.icon-trash-empty:before { content: '\e802'; } /* '' */
.icon-cog-alt:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-chart-bar:before { content: '\e805'; } /* '' */
.icon-pen:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-key:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-edit:before { content: '\e80a'; } /* '' */
.icon-logout:before { content: '\e80c'; } /* '' */
.icon-floppy:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e813'; } /* '' */
.icon-th-list:before { content: '\e814'; } /* '' */
.icon-ccw:before { content: '\e815'; } /* '' */
.icon-upload-cloud:before { content: '\e816'; } /* '' */
.icon-archive:before { content: '\e817'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-sweden:before { content: '\f601'; } /* '' */